<p id="notice" class="success"><%= notice %></p>

<div class="ui card">
  <div class="image">
    <img 
      alt="avatar" 
      src="https://robohash.org/<%= @person.avatar %>?set=set4" 
    />
  </div>
  <div class="content">
    <p class="header">
      <%= @person.first_name %> <%= @person.last_name %>
    </p>
    <div class="meta">
      <span><%= @person.phone %></span>
    </div>
    <div class="description">
      <%= @person.email %>
    </div>
  </div>
  <div class="extra content">
    <%= link_to 'Edit', edit_person_path(@person) %> |
    <%= link_to 'Back', people_path %> 
  </div>
    
</div>